body {
    position: relative;
}
.jumbotron {
  background-color: #66CCCC;
  color: white;
  font-family: 'Tangerine', cursive;
  padding: 100px 25px;
  margin-bottom: 0;
}
.navbar {
  background-color: #3D4C4C;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-family: 'Cinzel', serif;
  letter-spacing: 5px;
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar a:hover {
  color: #1abc9c !important;
}
.affix ~ .container-fluid {
   position: relative;
   top: 50px;
}
#skills {
  padding-top:6em;
}
#skills .row {
  padding: 3em;
}
.modal{
  top: 6em;
}
.devicons {
  font-size: 10em;
  color: #3D4C4C;
}
#portfolio {
  padding-top:6em;
  color: #fff;
  background-color: #AAD4D4;
}
#portfolio .row {
  padding: 3em;
}
#contact {
  color: #fff;
  background-color: #264C4C;
}
#contact a {
  color: white;
}
#contact a:hover {
  color: #1abc9c !important;
  text-decoration: none;
}
#frisbeeModal {
  color: black;
}
#info {
  padding: 4em;
  font-family:  'Cinzel', serif;
}
#profilepic {
  padding:2em;
}
